/* Generics */

body {
  background-image: linear-gradient(#009688 20%, #d8dbd5 20%);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dbg {
  border: 2px dashed black;
}

/* Main */

.main_app {
  height: 100vh;
}

main {
  width: 100%;
  height: 90vh;
  background-color: white;
}

/* Left main side */

.left_main {
  width: 30%;
}

/* Profile + Profile chat */

.profile {
  background-color: #eaeaea;
}

.profile_img img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.profile_settings i {
  font-size: 1.5rem;
  color: #b1b1b1;
}

/* Notification */

.notification {
  background-color: #8edafc;
}

.bell_icon {
  width: 50px;
  height: 50px;
  background-color: #f2fbff;
  border-radius: 50px;
}

.bell_icon i {
  color: #8edafc;
  font-size: 1.2rem;
}

.notification_text {
  font-size: 0.9rem;
}

.notification_text .active_notification {
  text-decoration: underline;
  color: #5e8dab;
  font-size: 0.8rem;
  cursor: pointer;
}

/* Search chats */

.search_chats {
  background-color: #fafafa;
}

.search_chats_content {
  color: #b4b7b9;
  background-color: white;
}

.search_chats_input {
  width: 80%;
  border: none;
  outline: none;
  font-size: 0.8rem;
}

/* Chat list */

.chat_list {
  overflow-y: auto;
}

.chat_list .chat {
  border-top: 1px solid #e7e7e7;
}

.chat_icon {
  width: 50px;
  height: 50px;
  background-color: #f2fbff;
  border-radius: 50px;
}

.chat_icon img {
  border-radius: inherit;
}

.chat_info .last_message {
  font-size: 0.8rem;
  color: #c4c6cd;
}

.chat_message_date {
  color: #c4c4c4;
  font-size: 0.7rem;
}

.chat.chat_active {
  background-color: #e9ebeb;
}

/* Right main side */

.right_main {
  width: 70%;
}

/* Chat text area */

#profile_last_access {
  color: #a1a1a1;
  font-size: 0.8rem;
}
